@media only screen and (max-width: 600px) {
    :root {
    
        --font1: 8vw;
        --font2: 4vw;
    }

    nav {
        height: 8svh;
    }

    .nav-margin {
        height: 4svh;
    }

    #landscape {
        display: none;
    }

    #mobile {
        display: flex;
        top: auto;
        bottom: 0;
        border-top: 2px solid var(--color2);
    }

    .link-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .menu-items {
        margin-top: 10svh;
        flex-direction: column;
    }
    .menu-item {
        width: 80%;
    }

    /** index **/

    .text-field {
        flex-direction: column;
        align-items: center;
        padding: 10%;
    }

    #picture-wrapper {
        margin-top: 10svh;
    }
  }